<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Define a Course</title>
  </head>
  <body>
    <div class="container">
      <h1>Define a Course</h1>
      <form method="post" action="{% url 'course_module:save_course_meta_data' %}">
        {% csrf_token %}{{ save_course_meta_data }}
        <div class="form-group">
          <label for="courseActivities">Course Code</label>
          <input
            type="text"
            class="form-control"
            id="courseName"
            name="courseCode"
            placeholder="Enter course code"
          />
        {% for activity in course_activities %}
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="{{ activity.activity_name }}" name="activities" value="{{ activity.activity_name }}">
            <label class="form-check-label" for="{{ activity.activity_name }}">{{ activity.activity_name }}</label>
        </div>
        {% endfor %}

        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
